.portfolio {
  width: 1280px;
  margin: 20px auto
}

.toolbar {
  margin-bottom: 20px;
}

.filter-button {
  margin-right: 5px;
  padding: 5px 10px;
  background: #fff;
  border: 2px solid gray;
  cursor: pointer;
  font-family: sans-serif;
  transition: all .3s;
}

.filter-button.selected,
.filter-button:hover {
  background: gray;
  color: #fff;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project-preview {
  height: 300px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}